<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Número</title>
</head>
<body>
    <h1>Enviar Número</h1>
    <form id="miFormulario">
        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" required>
        <button type="button" onclick="enviarNumero()">Enviar</button>
    </form>

    <!-- Agrega la referencia al archivo JavaScript externo -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
